<div class="hero">
  <div class=" hero-content bg-[url(https://images.pexels.com/photos/734102/pexels-photo-734102.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)] w-[100vw] h-[100vh] bg-cover bg-center flex items-center justify-center absolute top-0 ">

  </div>
</div>